<!-- your html code here -->
<div class="container-fluid">
  <div class="row g-2 px-5">
      <div class="col-8">
        <div class="p-3"><h1>This first heading <span class="text-secondary">Will Catch Your Eye</span></h1>
        <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.
          Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.
        </p></div>
      </div>
      <div class="col-4">
        <div class="p-3 text-center"><img src="https://w0.peakpx.com/wallpaper/396/799/HD-wallpaper-breaking-bad-bb-heisenberg-illustration-meth-walter-white-ww.jpg" class="rounded-circle w-75" alt="..."></div>
      </div>
  </div>
</div>